.github {
	position: absolute; 
	top: 10px; 
	right: 10px;
	z-index: 99999999;
}

.github img {
	opacity: 0.6;
	cursor: pointer;
}
.github img:hover {
	opacity: 1;
}

.controls {
	position: absolute; 
	bottom: 10px; 
	right: 10px;
	display: block;
	padding: 2px 30px;
	font-size: 14px;
	background-color: rgba(255,255,255,0.4);
	z-index: 99999999;
}
.controls h4 {
	margin: 8px 0;
}
.controls p {
    margin: 6px 0;
}

button.webvr-ui-button {
	opacity: 0.8;
}


.aframe-inspector-opened .github,
.aframe-inspector-opened .controls {
	display: none !important;
}
